header {
  width: 100%;
  height: 10vw;
  border: 1px solid blue;
  display: flex;
  background-color: #caf0f8;
  justify-content: space-between;
}

header h1 {
  justify-self: center;
  align-self: center;
  padding: 10px 14px;
  font-size: 80px;
  font-weight: 900;
  font-family: "Rowdies", sans-serif;
  text-transform: uppercase;
  cursor: auto;
  -webkit-text-stroke: 2px rgb(10, 31, 36);
  color: aliceblue;
}

.btnLanguage {
  font-family: Prata;
  font-weight: 900;
  font-size: 19px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 24px;
  border: solid #06080a 2px;
  height: 60px;
  margin: 30px 80px;
  cursor: pointer;
}




